  body, html {
      font-family: arial,sans-serif,helvetica;
    font-size: 13px;
background-color: #7E0100;
}
   .header, .sidebarR, .sidebarL, .content, .footer { 
    padding: 10px; /* Поля */
    border: solid 1px #000; /* Параметры рамки */
    background: #FFFEC9; /* Цвет фона */
	
   }
   .footer {
   padding: 1px;
   }
   .capch {
cursor: default;
background-color: #E4BE14;
padding: 5px; /* Поля */
width: 250px;
   }
   .foot{
   opacity: 0.8;
   border-right: dashed 1px black;
   display: inline-block;
   vertical-align: top;
   }
   .foot:hover{
   opacity: 1;
   
   }
   .op{opacity: 0.5;
   }
   .op:hover{opacity: 1;
   }
.header p {
     display: inline-block;
     font-size: 18px;
     max-height: 100px;
     max-width: 400px;
     position: absolute;
     right: 20px;
     top: 20px;
     word-break: break-all;
	 background: #E5BF00; padding: 10px; padding-right: 20px; color: #004AA7; border-radius: 35px 0px 0px 15px; border: 1px solid #004AA7; margin-right: -12px
}
   .header { /* Верхняя часть с заголовком */
    /*background: #e3e8cc;*/ /* Цвет фона */
    font-size: 24px; /* Размер шрифта */
   }
   .layout {
    margin: 2px 0; /* Отступы сверху и снизу */ 
    overflow: hidden; /* Отменяем действие float */
    min-width: 100%; /* Минимальная ширина */
    max-width: 120000px; /* Максимальная ширина */
   }
   .sidebarL { /* Навигация по сайту */
    width: 110px; /* Ширина меню */
    float: left; /* Состыковка с другим слоем по горизонтали */
	display: none;
   }
   
   .sidebarR { /* Навигация по сайту */
    width: 220px; /* Ширина меню */
	height: 553px;
    float: right; /* Состыковка с другим слоем по горизонтали */
	display: none;
   }
   .sidebarR ul {
   list-style-image: url('/img/yoba-small.png');
   list-style-position: inside;
    padding: 0; /* Убираем отступы */
	word-break: break-all;
	display: none;
   }
   .sidebarL ul {
   list-style-image: url('/img/yoba-small.png');
   list-style-position: inside;
    padding: 0; /* Убираем отступы */
	word-break: break-all;
   }
   .content { /* Основное содержание страницы */
    margin-right: 0px; /* Отступ слева */
	overflow: auto; 
	
   }
   .menu {
   background: #BC0000;
   float: bottom
	padding: 20px; /* Поля */
    border: solid 1px #7E0100; /* Параметры рамки */
   }
   
   .but {
   min-width:80px;
   display: inline-block;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
   border: solid 2px #E5BF00; /* Параметры рамки */
   position: static;
   border-radius: 2px;
   background-color: #BC0000;
   }
   .but:hover {
   background-color: #960000;
   }
   .but a {
   color: #E5BF00;
   text-decoration: none;
   text-shadow: 0px 1px 2px #E5BF00;
   }
   .but a:hover {
   text-shadow: 2px 2px 5px #E5BF00;
   }
   .buts::before {
   content:" ";
   color: #E5BF00;
   }
   .buts::after {
   content:" ";
   color: #E5BF00;
   }
   .popup {
   position: fixed; top: 0px; left: 0px; padding: 10px; border: solid 1px #000; background: #FFFEC9; display: none;
   }
   
   .popup_link {
   font-size: 10px; color: #E5BF00; background-color: #960000; cursor: pointer; 
   float: right;
   }
   
   .popup_content {
   padding: 15px;
   }
   
   a {
   color:  	#000066;
   text-decoration: none;
   }
   
   a:hover{
   text-decoration: underline;
   }
   .block {
   padding: 10px; border: solid 1px #000; background: #FFFEC9;
   }
   h2 {
	position: relative;
	width: 30%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 10px -71px;
	color: #E5BF00;
	background-color: #BC0000;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}